html, body {
	font-family: Roboto;
	background-color: #111;
	color: #ccc;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#wrapper {
	padding: 20px;
	margin: 0;
}

#title, #subtitle, #projects, .cv {
	animation: show .25s linear forwards;
	position: relative;
	opacity: 0;
}

# title {
	margin-top: 0;
	padding-top: 0;
}

#subtitle {
	animation-delay: .1s;
}

.cv {
	animation-delay: .2s;
}

#projects {
	animation-delay: .3s;
}

.emph {
	color: #888;
	font-weight: bold;
}

header {
	height: 5vh;
	line-height: 5vh;
	background-color: #333;
	margin: 0;
}

header .home {
	font-weight: bold;
	color: #ccc;
	text-decoration: none;
	margin-left: 5px;
}

@keyframes show {
	0% {
		opacity: 0;
		top: 20px;
	}

	100% {
		opacity: 1;
		top: 0;
	}
}